.slides {
  position:absolute;
  top:0;
  left:0;
}

.slides > div {
  position:absolute;
  top:10px;
  width:440px;
  display:none;
}

#loopedSlider, #newsSlider {
  -moz-border-radius:12px 12px 12px 12px;
  background:none repeat scroll 0 0 #333333;
  clear:both;
  height:190px;
  margin:0 auto;
  overflow:hidden;
  position:relative;
  width:440px;
  -webkit-border-radius:12px; /* radius for safari, chrome, etc */
}

.previous {
  background:url("/images/slide/arrow_left.png") no-repeat scroll 0 0 transparent;
  display:block;
  height:58px;
  left:-28px;
  position:relative;
  top:-135px;
  width:58px;
  z-index:100;
}

.previous:hover{
  background-position:left bottom
}

.next {
  background:url("/images/slide/arrow_right.png") no-repeat scroll 0 0 transparent;
  display:block;
  height:58px;
  left:410px;
  position:relative;
  top:-193px;
  width:58px;
  z-index:100;
}

.next:hover{
  background-position:left bottom
}

ul.pagination {
  float:right;
  list-style:none outside none;
  position:relative;
  top:-105px;
}

ul.pagination li  {
  float:left;
}

ul.pagination li a {
  -moz-border-radius:7px 7px 7px 7px;
  -webkit-border-radius:3px; /* radius for safari, chrome, etc */
  background-color:#444444;
  float:left;
  height:15px;
  margin:4px 3px;
  text-indent:-9999px;
  width:15px;
}

ul.pagination li a:hover {
  background:darkblue;
}

ul.pagination li.active a{
  background:darkblue;
}